.content {
    header {
        height: 6rem;


        nav {
            .logo {
                height: 6rem;

                p {
                    line-height: 6rem;
                    padding-left: 5rem;
                }
            }
            ul {
                display: none;
            }
            button {
                float: right;
                border: 0;
                height: 6rem;
                width: 6rem;
                background: white;
            }
        }
    }
    .main-title {
        h1,h2,hr {
            position: relative;
            top: 25rem;
        }
        h1 {
            font-size: 5rem;
            padding: 2rem 0;
        }
        h2 {
            font-size: 3rem;
            padding: 0 0 2rem 0;
        }
    }
}